@import '../../assets/styles/variables.scss';

.card {
  width: 250px;
  height: 186px;
  overflow-y: scroll;
  padding: 20px;
  margin: 10px 0;
  background-color: $color-light-gray;
  color: $color-black;
  border: 1px solid $color-dark-gray;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: $color-black $color-light-gray;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;

    &-track {
      background-color: $color-light-gray;
      border-radius: 4px;
    }

    &-thumb {
      background-color: $color-black;
      border-radius: 4px;
    }
  }
}

.id {
  color: $color-red;
  margin-right: 5px;
}

.name {
  text-transform: uppercase;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}